<ion-header>
  <ion-toolbar color="light">
    <ion-row>
      <ion-searchbar class="ion-searchbar-class" show-clear-button="always" mode="ios"
        placeholder="PR/PP, Modelo, Placas, No Eco" animated="true"></ion-searchbar>
    </ion-row>
    <ion-toggle slot="end" [(ngModel)]="activo" (ionChange)="filterUnidades()"></ion-toggle>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let unidad of _unidadesFiltered" class=" card-3" mode="ios" button>
   <ng-container *ngIf="loaded"> 
    <ion-card-header>
      <ion-card-title>
        <h2>{{unidad.economico}} | {{unidad.pr}}</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{unidad.modelo}}, {{unidad.marca}} |{{unidad.placas}}, {{unidad.color}}
    </ion-card-content>
  </ng-container>
  </ion-card>

  <ion-card *ngFor="let unidad of _unidadesFiltered" class=" card-3" mode="ios" button>
    <ng-container *ngIf="!loaded"> 
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-card-content>
    </ng-container>
  </ion-card>

</ion-content>