
  <ion-toolbar >
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Log In</ion-title>
  </ion-toolbar>


<ion-content >



    <form [formGroup]="loginForm" (ngSubmit)="Login()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="username" required></ion-input>
</ion-item>
<ion-item>
        <ion-label position="floating" >Password</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          required
        ></ion-input>
</ion-item>
      <ion-button
        type="submit"
        expand="block"
        mode="ios"
        [disabled]="!loginForm.valid"
        >Iniciar sesion</ion-button
      >
    </form>
 


</ion-content>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<p class="ion-text-center custom-font">Si tienes algun problema contactanos-<a href="">Contacto</a></p>
    <div class="back-circle1"></div>
	</ion-toolbar>
</ion-footer>